.setmenu_container {
  width: 10 rem;
  height: 10rem;
  border: 0.1rem solid black;
  padding: 1rem;
}
.setmenu_select {
  display: flex;
  justify-content: space-around;
}
.setmenu-select-box {
  width: 5rem;
  height: 3rem;
  background: red;
}
.setmenu-select-box-item {
  border: 0.2rem solid black;
  margin: 0.4rem;
  padding: 0.4rem;
}
